In [1]:
##EarthQuake Project.

#The datasets given to you from the prompt are sufficient to forecast the next "Big One", that is how strong it will be and where it will take place and when it will be.
#There are many ways to go about finding this, but for those struggling here is a basic guide to understand the process of how we can figure this out.

In [2]:
'''
Step 1 : Data Retrival

The first thing your gonna want to do is import the Data, I see the the USGS Significant Earthquakes dataset has variables relating to magnitude,time, coordinates, and other things...

So we are going to import this dataset using the Pandas Package (specifically pd.read_csv())

Make sure you check where your file in working directory is: we will do this using the os (opering systems) package

'''
import os as os 

os.getcwd()

'C:\\Users\\Nate'

In [3]:
import pandas as pd

Data = pd.read_csv("database.csv") ##import the USGS Signficant Earthquake data recieved from Kaggle

data = pd.DataFrame(Data)

In [4]:
'''
Step 2 : Data Preparation

Now that we have our data we can now move in to the process of preparing the data for our analysis.

It seems that our data is already pretty "clean" except for the "Time" variable so what we should focus on is extracting variables of interest

We will check the column (variable) names of all the dataset to see then we will use exploration operations to take them out.
'''

data.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [5]:
#We find the Date, Time, Longitude, Latitude, and Magnitude to be the primary variables of interest so we will extract these variables
# We will do this using the loc method.

data1 = data.loc[:,["Date","Time","Longitude","Latitude","Magnitude"]]

#we find each element of the "Time" vairbale to be a string, how can we change that for analysis?
#First, we will take out all of the colons in the column using re.sub [check back to the Juiced Balls project or Stack Overflow for reference]

In [6]:
import re
import numpy as np

data1["Time"] = [re.sub(":",'',x) for x in data1["Time"]]
data1["Time"] = [np.float64(x) for x in data1["Time"]]

#it seems that we can't do convert some srings because they are not fomatted the same way as the other observations (see observation 20650)
# we will keep on dropping these elements until it works,you can see from date from the Value error code see let that be your reference.

ValueError: could not convert string to float: '1975-02-23T025841.000Z'

In [8]:
data1["Time"] =data1["Time"].drop(index=20650)
data1["Time"] = [np.float64(x) for x in data1["Time"]]

ValueError: could not convert string to float: '1975-02-23T025841.000Z'

In [9]:
data1["Time"] =data1["Time"].drop(index=3378)
data1["Time"] = [np.float64(x) for x in data1["Time"]]

ValueError: could not convert string to float: '1985-04-28T025341.530Z'

In [10]:
data1["Time"] =data1["Time"].drop(index=7512)
data1["Time"] = [np.float64(x) for x in data1["Time"]]

#Woolah now its numeric!
#This is not the ususal approach you take to working with time variables, but this approach is in your scope and somewhat accurate

In [12]:
'''
Step 3 : Data Exploration

Now that we have the variables of interest, we can start exploring our data and find insights to help us predict the magnitude and location/time of the next big one.

Now they're are many ways to do this, and I hope each one of you can figure out a more useful way than the guide.

But for the sake of those having trouble, one of the basic methods you can use is averages.

We will find the average of Time, Magnitude, Latitude, and Longitude.

'''

"\nStep 3 : Data Exploration\n\nNow that we have the variables of interest, we can start exploring our data and find insights to help us predict the magnitude and location/time of the next big one.\n\nNow they're are many ways to do this, and I hope each one of you can figure out a more useful way than the guide.\n\nBut for the sake of those having trouble, one of the basic methods you can use is averages.\n\nWe will find the average of Time, Magnitude, Latitude, and Longitude.\n\n"

In [13]:
data1["Longitude"].mean()

39.6399607380701

In [14]:
data1["Latitude"].mean()

1.6790331197719317

In [15]:
data1["Magnitude"].mean()

5.882530753460003

In [16]:
data1["Time"].mean()
#117448 or in terms of time --> 120448 --> 12:04:48
#We will leave the exploration analysis of Time and Date for you all, here's something to keep in mind...

117448.32115852876

In [ ]:
'''
Conclusion :
    
 "We find the earhtuqake of a magnitude of 5.88 (The next Big One) to occur at coordinates 39.63 Longitude and 1.679 Latitude at 12:04:48 pm"

You should talk about what makes your analysis sufficient but you should also talk about what makes it insufficient.

In this case our mean was a good estimate of magnitude, latitude, and longitude. But time gets distorted since each minute resets at 60 instead of 100.

There also a factor of date, can you predict the specific date? Also the ethics of location, is it okay if we assume the next earthquake will happen at these specific coordinates based off our statistical analysis?

But this is good fundamental analysis! Understanding having an approach and some type of distinct analysis is already above the average. Its the creative approach that defines a good project, not necessarily its results.


I hope you all understand this is a basic guide to get your brains working, please understand if you follow this approach directly, no prize for you!
'''